body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: black;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1571px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

h2 {
  font-weight: 600;
  font-size: 35px;
  width: 100%;
  text-align: center;
  color: #424242;
}

header {
  width: 100%;
}

header .line1 .block {
  display: flex;
}

header .line1 .block .left-panel {
  width: 1086px;
  height: 46px;
  background: #246854;
  font-weight: 700;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
  position: relative;
  box-sizing: border-box;
}

header .line1 .block .left-panel .txt-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

header .line1 .block .left-panel .txt-block .t1 {
  background-image: url('../assets/img/left-panel-header.svg');
  width: 490px;
  height: 46px;
  background-size: cover;
  text-align: right;
  align-items: center;
  box-sizing: border-box;
  padding: 11px 48px 12px 292px;
}

header .line1 .block .left-panel .txt-block .t2 {
  padding-right: 51px;
  box-sizing: border-box;
}

header .line1 .block .right-panel {
  width: 500px;
  height: 46px;
  background: #ECA30C;
  display: flex;
  align-items: center;
}

header .line1 .block .right-panel .register-block {
  display: flex;
  align-items: center;
  border-right: 1px solid white;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #FFFFFF;
}

header .line1 .block .right-panel .register-block .login {
  margin-right: 15px;
  display: flex;
  align-items: center;
  margin-left: 56px;
}

header .line1 .block .right-panel .register-block .login::before {
  content: url('../assets/img/icon-user.png');
  position: relative;
  top: 2px;
  margin-right: 7px;
}

header .line1 .block .right-panel .register-block .community {
  margin-right: 22px;
  display: flex;
  align-items: center;
}

header .line1 .block .right-panel .register-block .community::before {
  content: url('../assets/img/icon-users.png');
  position: relative;
  top: 2px;
  margin-right: 7px;
}

header .line1 .block .right-panel .register-block .search {
  margin-right: 16px;
}

header .line1 .block .right-panel .soc-icons {
  display: flex;
  align-items: center;
  margin: 0 48px 0 auto;
}

header .line1 .block .right-panel .soc-icons a:not(:last-child) {
  margin-right: 20px;
}